body { -webkit-transform:none;}
table.cyan td, table.cyan th {
    vertical-align: inherit;
}

.border_01 { border:none; border-bottom:1px solid #ccc;}


.yhxq_lie { margin-top:20px; padding:0 0 10px 10px;}
.yhxq_top { display:inline-block;}
.yhxq_left { display:inline-block; width:560px; float:left;}
.yhxq_right { float:left; width:420px;}
.yhxq_left>img { float:left;}
.yhxq_left_rig { float:left; width:400px; margin-left:10px; font-size:14px;}
.yhxq_left_rig>p { line-height:24px;}
.heig { height:24px;}
.rig { float:right;}
.yhxq_left_rig>p.bz_ma { line-height:30px; height:30px; margin-top:10px;}
.yhxq_right>p { line-height:26px; font-size:14px;}
.yhxq_right>ul { display:inline-block;}
.yhxq_right>ul li { float:left; margin-right:10px; width:80px; height:90px; cursor: pointer;}

.yhxq_bottom { display:inline-block; padding:0 0 0 20px;}
.bj_yhxq { display:inline-block; width:800px;}
.bj_diva li { float:left; margin-right:20px; line-height:24px; text-align:right; width:120px;}
.bj_yhxq li { float:left; margin-right:20px; line-height:24px;}
.bj_zhong a { color:#f00;}
.bj_zhong span { color:#f00;}

.init_cz { display:block; width:300px; height:24px; padding:20px 0 0 20px;}
.init_cz li { float:left; margin-right:10px; line-height:24px;}
.plcz_con { display:block; padding:20px 0 0 50px; border-top:1px solid #aaa;}
.wi_07 { width:140px;}

.ma_01 { margin-top:14px;}
.yhzl { padding-left:20px;}
.yhjl span { color:#f00; }
.yhzl ul { display:block;}
.yhzl ul li { line-height:16px;}

.beijing { width:100%; background:#000; position:absolute; top:0; left:0; z-index:10000; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5; display:none;}
.popup { position:fixed; top:50%; left:50%; z-index:1000000; width:300px; height:220px; background:#fff; margin-left:-150px; margin-top:-110px; display:none;}
.popup_tp { position:fixed; top:50%; left:50%; z-index:1000000; width:300px; height:220px; background:#fff; margin-left:-150px; margin-top:-110px;}
.popup_tp>img { max-width:940px;}
.popup_xx{ background: url(../img/xx.png) no-repeat; cursor: pointer; display: block; float: right; height: 20px; margin: 12px 12px 0 0; width: 20px;}
.popup_con { padding:40px 0 0 40px;}
.popup_con p { padding-bottom:10px;}
.popup_con p span { vertical-align: top;}
.scyy { width:174px; height:80px;}
.select_fsj { width:180px;}
.ma_02 { margin:8px 0 0 85px;}

/*�����΢��̬�б�*/
.dshwdtlb_xq { width:276px; margin:0 auto; display:inline-block;}
.dshwdtlb_xq img { float:left;}
.dshwdtlb_rig { float:left; margin-left:10px; width:182px;}
.dshwdtlb_rig p { text-align:left; line-height:24px;}
.dshwdtlb_tp { width:378px; margin:0 auto; display:inline-block;}
.dshwdtlb_tp p { text-align:left;}
.dshwdtlb_tp ul li { float:left; margin-right:8px; cursor: pointer; width:80px; height:90px;}
.dshwdtlb_but { margin:20px 0 0 20px; display:table;}
.dshwdtlb_but input { float:left; margin-right:10px;}
.ma_03 { margin-top:30px;}
.wdtshjr_jr { margin-top:20px;}
.wi_01 { width:100%;}

/*΢��̬����ҳ*/
.left { float:left;}
.right { float:right;}
.cleat { clear: both;}
.wi_02 { width:720px; line-height:24px; margin-right:40px; min-height: 24px;}
.wdtxqy_top,.wdtxqy_top ul { display:inline-block;}
.wdtxqy_top ul { margin-top:10px; height:90px; min-width: 400px;}
.wdtxqy_top ul li { width:80px; height:90px; float:left; margin-right:10px; cursor: pointer;}
.wi_03 { width:420px;}
.wi_03>div { width:328px;}


.vip { padding-right:17px; background:url(../img/vip.jpg) no-repeat right 0;}


/*�����*/
.wi_04 { width:520px;}
.wi_04>div { width:428px;}
.hdxq_sj p { line-height:24px;}
.hdxq_cyz { padding:20px 0 0 90px; display:inline-block; width:80%;}
.hdxq_cyz>p { float:left;} 
.hdxq_cyz>ul { float:left; width:90%;}
.hdxq_cyz>ul li { float:left; width:140px; height:24px; margin-right:10px; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

/*Ⱥ���*/
.wi_05 { width:250px;}
.wi_05>div { width:230px;}
.wi_06 { width:210px;}

/*ͼƬ���*/
.spsh_but { width:50px; height:30px; display:block; text-align:center; background:none; border:none; color:#fff; cursor: pointer;}
.spsh_a { background:#313029;}
.spsh_b { background:#f73439;}
.spsh_c { background:#ffa208;}
.spsh_con { border:1px solid #aaa; padding:10px 10px;}

.spsh_con ul { display:inline-block; width:920px;}
.spsh_con ul li { width:86px; height:134px; margin-right:6px; float:left; text-align:center;}
.spsh_con ul li img { cursor: pointer;}
.spsh_con ul a { width:50px; height:20px; border:1px solid #ddd; line-height:20px; border-radius: 5px; display:block; margin:14px 0 0 10px;}
.zhong_a img { border:4px solid #313029;}
.zhong_b img { border:4px solid #f73439;}
.zhong_c img { border:4px solid #ffa208;}
.zhong_dq img { border:4px solid #2618dc;}
.ma_04 { margin-left:40px;}

/*���������*/
.select_01 { width:146px;}
.verti { vertical-align: top;}
.textarea_01 { width:300px; height:100px;}
.ma_05 { margin-left:66px;}

/*�����¼*/
.ltjr_bj { width:20px; height:20px; display:inline-block; background:url(../img/bj.jpg) no-repeat; cursor: pointer;}
.ltjr_bj_zhong { background:url(../img/bj.jpg) no-repeat 0 -20px;}

/**/
.action-bar { position:relative;}
.fy_div { position:absolute; bottom:18px; right:40px;}
.wi_tx { width:80px; height:80px;}
.menuTree .item-nav b.active{-webkit-transform:none;}
.xzzt { background:#ccc;}
.xzwdt { background:#b5fbc1;}
.xzwdtbtg { background:#f9a182;}

.autoArea{width:156px;min-height:18px;height:18px; position:absolute;z-index:10;left:0px;top:0px;}
.xgdhsrk { position:relative; display:inline-block; width:170px; height:18px;}

.qtj_ul li { border:1px solid #ccc;  border-radius: 5px; text-align:center; margin-bottom:5px;}
.qtj_ul li:hover { background:#aaa;}
.qtj_ul li a { display:block;}
.qtj_ul li a:hover { color:#fff;}
.bz_colo { color: #0293c9; font-weight: bold;}
.line-he li { line-height:36px;}
.nameb { position:absolute; top:20px; left:230px;font-weight:bold;letter-spacing:6px;font-size:18px;color:red}
.rzqkclo { color:#f00;}
